LAUZON_CONNECTION_STRING="Server=your-server;Database=your-database;User Id=your-user;Password=your-password;Encrypt=True;TrustServerCertificate=False"
CONTACT_FORM_FORMSPARK_ID="zOyTj4RtB"
NEXT_PUBLIC_BOTPOISON_PUBLIC_KEY="pk_a6aae5ef-c4a2-46e7-a8b2-b2eda12e7f8b"
